{% extends 'base_dashboard.html'%}
{% load staticfiles%}

{% block page%}
Aulas
{%endblock%}

{% block topScore%}

        <div class="col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
{% endblock%}

{%block body%}
    <div class="card aula-{{aula.status}} mb-3">
        <div class="card-header float-light">
            <div class="row">
                <div class="col-md-8 text-sm text-muted text-capitalize">
                    {{aula.status}}
                </div>

                <div class="col-md-4 text-right">
                    <a class="btn btn-sm btn-outline-primary" href="#"  data-toggle="modal" data-target="#AlunosPresentes" >Alunos presentes</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{aula.assunto}}</h5>
            <p class="card-text">{{aula.descricao}}</p>
            <p class="card-text"><small class="text-muted">{{aula.data}}</small></p>
        </div>
        {% if aula.material %}
            <div class="card-footer">
                <a class="btn btn-sm btn-outline-primary" href="{{aula.material.url}}" target="_blank">Baixar material</a>
            </div>
        {% endif %}
    </div>


        <div class="card mb-3">
            <div class="card-header alert alert-info float-light">
                <div class="row">
                    <div class="col-md-8 text-sm text-white text-capitalize h2">
                        Ocorrências
                    </div>
                    <div class="col-md-4 text-right">
                        <a class="btn btn-sm btn-outline-primary" href="#" data-toggle="modal" data-target="#NovaOcorrencia">Nova ocorrência</a>
                    </div>
                </div>
            </div>
            {% if aula.ocorrencias.all %}
                <div class="card-body">
                    {% for o in aula.ocorrencias.all %}
                        <h6 class="card-title">{{o.titulo}}</h6>
                        <span class="card-text text-sm">{{o.descricao}}</span>
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    <div class="modal fade" id="NovaOcorrencia" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="TituloModalCentralizado">Cadastrar ocorrência</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form method="post" action="{% url 'aula' aula.id %}" enctype="multipart/form-data">
                    <div class="modal-body">

                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.titulo.errors }}
                            <label for="{{ form.titulo.id_for_label }}">Titulo:</label>
                            {{form.titulo}}
                        </div>

                        <div class="form-group  ">
                            {{ form.descricao.errors }}
                            <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
                            {{ form.descricao}}
                        </div>
                  </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Registrar ocorrência</button>
              </div>
            </form>
            </div>
          </div>
        </div>
<!--Alunos presentes-->

    <div class="modal fade" id="AlunosPresentes" tabindex="-1" role="dialog" aria-labelledby="TituloAlunosPresentes" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="TituloAlunosPresentes">Alunos presentes</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

                    <div class="modal-body">
                        <div class="list-group">
                            {% for a in alunos %}
                              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{a.nome}}</h5>
                                  <small>15:20</small>
                                </div>
<!--                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
<!--                                <small>Donec id elit non mi porta.</small>-->
                              </a>
                            {% endfor %}

                        </div>

                    </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>


          </div>
        </div>

    </div>
{%endblock%}
